<!DOCTYPE html>
<html>
<head lang="tr">
	<meta charset="utf-8">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<style type="text/css">
		body {
			background-color: #f0f2f5;
		}

		body.dark-mode .card {
			background-color: #212121;
		}

		.dark-mode {
			background-color: black;
			color: white;

		}
	</style>

	{% block meta %}
	{% endblock %}
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="robots" content="index" />
	<title>CARBON06 - {% block title %}{% endblock %}</title>

</head>
<body>

	{% block body %}
	{% endblock %}

	<small><button style="float: right;" class="btn btn-outline-info" onclick="themeToggle()">Gece Modu</button></small>
	<div id="theme" style="visibility: hidden;"></div>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script>
	(function() {
	  let onpageLoad = localStorage.getItem("theme") || "";
	  let element = document.body;
	  element.classList.add(onpageLoad);


	  document.getElementById("theme").textContent =
	    localStorage.getItem("theme") || "light";
	})();

	function themeToggle() {
	  let element = document.body;
	  element.classList.toggle("dark-mode");



	  let theme = localStorage.getItem("theme");
	  if (theme && theme === "dark-mode") {
	    localStorage.setItem("theme", "");

	  } else {
	    localStorage.setItem("theme", "dark-mode");

	  }

	  document.getElementById("theme").textContent = localStorage.getItem("theme");
	}
</script>
</body>
</html>