{% extends 'base.html' %}

{% block meta %}
{% endblock %}


{% block body %}
	<div style="margin-top: 20px;" class="container">
		
		<small>
		<a href="/" class="btn btn-info btn-sm">Önceki sayfaya dön</a>
		</small><br><br>
		<h1><b>{{journal.title}}</b></h1>
		<h2>{{journal.subtitle}}</h2>
		<p align="center"><img class="img-fluid" src="{{journal.cover}}"></p>
		<p align="justify">{{journal.description}}</p>
		<a href="{{journal.url}}">İlgili CARBON06 sayısına ulaşmak için</a>
	</div>

{% endblock %}