{% extends 'base.html' %}

{% block meta %}
	<meta name="description" content="CARBON06 {{journal.description}}">
{% endblock %}

{% block body %}
	
	<div class="container container-fluid">
		<h1>Carbon06</h1><br>

		<div class="row justify-content-center">
		    <div class="col">
		      {% for journal in journals %}
				<div class="card" style="width: 18rem;">
				  <a href="{% url 'detail' journal.magazine_id %}">
				  	<img style="margin-top: 10px;" src="{{journal.cover}}" class="card-img-top" alt="carbon06 cover photo">
				  </a>
				  <div class="card-body">
				    <h4 class="card-title"><b>{{journal.title}}</b></h4>
				    <h5 class="card-title">{{journal.subtitle}}</h5>
				    <p class="card-text" align="justify">{{journal.description}}</p>
				    <a href="{{journal.url}}" class="btn btn-outline-info">CARBON06 okumak için</a>
				  </div>
				</div>
				<br>
			{% endfor %}

		    </div>
		</div>
		
	</div>

{% endblock %}