{% extends 'base.html' %}

{% block meta %}
	<meta name="description" content="Kimya mühendisleri odası ankara öğrenci komisyonu tarafından çıkartılan CARBON06 dergisinin bütün sayılarının listelendiği ve sergilendiği sayfadır.">
	<meta name="google-site-verification" content="Zz7a7KoRqGHOmHDikpqbvfnI5jOJjBf4ngIw40MMOV4" />
	<meta name="keywords" content="carbon06,CARBON06,carbon 06,CARBON 06,dergi,carbon06 dergi"/>
{% endblock %}

{% block title %}Anasayfa{% endblock %}

{% block body %}

	<div class="container container-fluid">
		<p align="center"><b><h1>CARBON<sub>06</sub></h1></b></p><br>

		<div class="row justify-content-center">
		    <div class="col">
		      {% for journal in journals %}
				<div class="card mb-3" >
				  <div class="row no-gutters">
				    <div class="col-md-4">
				      <!--<a href="{% url 'detail' journal.magazine_id %}">-->
				          <img src="{{journal.cover}}" class="card-img" alt="carbon06 {{journal.title}}">
				        <!--</a>-->
				    </div>
				    <div class="col-md-8">
				      <div class="card-body">
				        <h5 class="card-title">{{journal.title}}</h5>
				        <p class="card-text text-muted">{{journal.subtitle}}</p>
				        <p class="card-text">{{journal.description|linebreaks}}</p>
				        <a style="bottom: 5%;" href="{{journal.url}}"><strong>CARBON06: {{journal.title}}</strong> okumak için</a>
				      </div>
				    </div>
				  </div>
				</div>
				<br>
			{% endfor %}

		    </div>
		</div>

	</div>

{% endblock %}